<body>
    <main class="home-container">
        <div class="title-container">
            <h1 class="menu-title">{{ 'VISIT.TITLE' | translate }}</h1>
        </div>

        <div class="description-container">
            <div class="wave-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
                    <path fill="#e7dabb" fill-opacity="1"
                        d="M0,32L48,53.3C96,75,192,117,288,165.3C384,213,480,267,576,272C672,277,768,235,864,186.7C960,139,1056,85,1152,74.7C1248,64,1344,96,1392,112L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                    </path>
                </svg>
            </div>

            <div class="bottom-container">
                <div class="bottom-content">

                    <div class="map-wrapper">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6398.24980482321!2d-4.459761523323217!3d36.69553637227722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f9dee2ea3131%3A0xe00a7d745fb8b2e3!2sIES%20Bel%C3%A9n!5e0!3m2!1ses!2ses!4v1747827743435!5m2!1ses!2ses"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>

                    <div class="wave-text-container original-text">
                        <p class="description-text">
                            {{ 'VISIT.DESCRIPTION_P1' | translate }}
                        </p>
                    </div>

                    <div class="wave-text-container mobile-text">
                        <p class="description-text">
                            {{ 'VISIT.DESCRIPTION_P1' | translate }}
                        </p>
                    </div>

                    <hr>

                    <div class="wave-text-container original-text">
                        <h2 class="description-title">{{ 'VISIT.RESERVATION_TITLE' | translate }}</h2>
                        <p class="wave-p-text">
                            <a routerLink="/login">
                                <button type="button" class="btn btn-success">
                                    <i class="bi bi-info-circle"></i>
                                    {{ 'VISIT.LOGIN_REQUIRED' | translate }}
                                </button>
                            </a>
                        </p>
                    </div>

                    <div class="wave-text-container mobile-text">
                        <h2 class="description-title">{{ 'VISIT.RESERVATION_TITLE' | translate }}</h2>
                        <p class="wave-p-text">
                            {{ 'VISIT.LOGIN_REQUIRED' | translate }}
                        </p>
                    </div>

                    <div class="reservation-container">
                        <div class="info-container">
                            <h3 class="info-title">{{ 'VISIT.RULES_TITLE' | translate }}</h3>
                            <ul class="info-list">
                                <li>{{ 'VISIT.RULES.ITEM1' | translate }}</li>
                                <li>{{ 'VISIT.RULES.ITEM2' | translate }}</li>
                                <li>{{ 'VISIT.RULES.ITEM3' | translate }}</li>
                                <li>{{ 'VISIT.RULES.ITEM4' | translate }}</li>
                                <li>{{ 'VISIT.RULES.ITEM5' | translate }}</li>
                            </ul>
                            <h3 class="info-title">{{ 'VISIT.BENEFITS_TITLE' | translate }}</h3>
                            <p class="info-text">
                                {{ 'VISIT.BENEFITS_TEXT' | translate }}
                            </p>
                        </div>

                        <form class="form-container" (ngSubmit)="onSubmit(reservationForm)" #reservationForm="ngForm">
                            <div class="form-group">
                                <input type="date" class="form-control"
                                    placeholder="{{ 'VISIT.PLACEHOLDER_DATE' | translate }}" name="date" required
                                    ngModel [min]="minDate" [readOnly]="!isAuthenticated">
                                <input type="time" class="form-control"
                                    placeholder="{{ 'VISIT.PLACEHOLDER_TIME' | translate }}" name="time" required
                                    ngModel [readOnly]="!isAuthenticated">
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control"
                                    placeholder="{{ 'VISIT.PLACEHOLDER_GUESTS' | translate }}" name="guests" required
                                    ngModel [readOnly]="!isAuthenticated">
                                <input type="tel" class="form-control"
                                    placeholder="{{ 'VISIT.PLACEHOLDER_PHONE' | translate }}" name="phone" ngModel
                                    value="{{ userData?.phoneNumber }}" readonly>
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control"
                                    placeholder="{{ 'VISIT.PLACEHOLDER_EMAIL' | translate }}" name="email" ngModel
                                    value="{{ userData?.email }}" readonly>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control"
                                    placeholder="{{ 'VISIT.PLACEHOLDER_FIRSTNAME' | translate }}" name="firstName"
                                    ngModel value="{{ userData?.name }}" readonly>
                                <input type="text" class="form-control"
                                    placeholder="{{ 'VISIT.PLACEHOLDER_LASTNAME' | translate }}" name="lastName" ngModel
                                    value="{{ userData?.surname }}" readonly>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control full"
                                    placeholder="{{ 'VISIT.PLACEHOLDER_COMMENTS' | translate }}" name="comments" ngModel
                                    [readOnly]="!isAuthenticated"></textarea>
                            </div>

                            <button type="submit" class="submit-btn" [disabled]="!isAuthenticated">
                                {{ 'VISIT.BUTTON_SUBMIT' | translate }}
                            </button>
                        </form>
                    </div>

                </div>
            </div>

            <div class="flipped-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
                    <path fill="#E7DABB" fill-opacity="1"
                        d="M0,32L48,53.3C96,75,192,117,288,165.3C384,213,480,267,576,272C672,277,768,235,864,186.7C960,139,1056,85,1152,74.7C1248,64,1344,96,1392,112L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>

    </main>
</body>