<header>

    <div>
        <a routerLink="/">
            <img src="/logo-ftm.png" alt="Logo FTM" class="logo" />
        </a>
    </div>

    <div class="header-background">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path fill="rgba(255,255,255,0.25)" fill-opacity="1"
                d="M0,192L48,176C96,160,192,128,288,144C384,160,480,224,576,261.3C672,299,768,309,864,277.3C960,245,1056,171,1152,160C1248,149,1344,203,1392,229.3L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
            </path>
        </svg>
    </div>

    <button class="menu-toggle" type="button" aria-label="Toggle navigation"
        [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'" [attr.aria-controls]="'nav-items'" (click)="toggleMenu()">
        <i class="bi bi-list"></i>
    </button>

    <!-- Navegación principal -->
    <nav id="nav-items" class="nav-items" [class.open]="isMenuOpen" role="navigation">
        <a class="links" routerLink="/menu">Menú</a>
        <a class="links" routerLink="/galeria">Galería</a>
        <a class="links" routerLink="/adopcion">Adopción</a>
        <a class="links" routerLink="/reservas">Reservas</a>
        <a class="links" routerLink="/contacto">Contacto</a>
        <a class="icon-language links"><i class="bi bi-globe"></i></a>

        <!-- Dropdown para usuario -->
        <div class="dropdown">
            <a class="user-icon" id="userDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="/user_icon.jpg" alt="Usuario" class="user-icon" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li *ngIf="!isLoggedIn"><a class="dropdown-item" routerLink="/register">Registrar usuario</a></li>
                <li *ngIf="!isLoggedIn"><a class="dropdown-item" routerLink="/login">Iniciar sesión</a></li>
                <li *ngIf="isLoggedIn"><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>
</header>