header {
    font-family: 'Jockey One', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: transparent;
    color: #2D2D2D;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-background svg {
    position: absolute;
    width: 100%;
    height: 165px;
    top: 0;
    left: 0;
}

header>div:last-child {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
}

header>div:last-child>div p {
    margin: 0;
    cursor: pointer;
    font-family: 'Jockey One', sans-serif;
    font-size: large;
    text-align: center;
}

/* Logo */
.logo-container {
    flex: 0 0 auto;
}

.logo {
    height: 60px;
    width: auto;
}

.logo:hover {
    animation: spin 1s ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.user-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-left: auto;
}

.menu-toggle:focus {
    outline: none;
}

.nav-items {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: auto;
    transition: transform 0.3s ease-in-out;
}

.nav-items a.links {
    color: #2D2D2D;
    text-decoration: none;
    position: relative;
}

/* Pseudo-elemento que será la línea */
.nav-items a.links::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #2D2D2D;
    transition: width 0.3s ease-in-out;
}

/* Al hover, la línea crece hasta el 100% */
.nav-items a.links:hover::after {
    width: 100%;
}

.dropdown {
    color: #2D2D2D;
}

/* Responsive: móviles ≤768px */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    /* muestra el botón */
    .nav-items {
        position: absolute;
        top: 100px;
        right: 0;
        background: rgba(255, 255, 255, 0.9);
        flex-direction: column;
        width: 200px;
        transform: translateX(100%);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        max-width: 100%;
    }

    .nav-items.open {
        transform: translateX(0);
    }
}