<body>
    <main class="home-container">
        <div class="title-container">
            <h1 class="menu-title">{{ 'MENU.TITLE' | translate }}</h1>
        </div>

        <div class="description-container">
            <div class="wave-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
                    <path fill="#e7dabb" fill-opacity="1"
                        d="M0,32L48,53.3C96,75,192,117,288,165.3C384,213,480,267,576,272C672,277,768,235,864,186.7C960,139,1056,85,1152,74.7C1248,64,1344,96,1392,112L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                    </path>
                </svg>
            </div>

            <div class="bottom-container">
                <div class="bottom-content">

                    <div class="wave-text-container original-text">
                        <h2 class="description-title">{{ 'MENU.DESCRIPTION_TITLE' | translate }}</h2>
                        <p class="description-text">
                            {{ 'MENU.DESCRIPTION_P1' | translate }}
                        </p>
                        <p class="description-text">
                            {{ 'MENU.DESCRIPTION_P2' | translate }}
                        </p>
                    </div>

                    <div class="wave-text-container mobile-text">
                        <h2 class="description-title">{{ 'MENU.DESCRIPTION_TITLE' | translate }}</h2>
                        <p class="description-text">
                            {{ 'MENU.DESCRIPTION_P1' | translate }}
                        </p>
                        <p class="description-text">
                            {{ 'MENU.DESCRIPTION_P2' | translate }}
                        </p>
                    </div>

                    <div class="dropdowns-container">
                        <!-- Bebidas Calientes -->
                        <div class="dropdown-container">
                            <button class="btn btn-primary custom-toggle" type="button" data-bs-toggle="collapse"
                                data-bs-target="#hotDrinks" aria-expanded="false" aria-controls="hotDrinks">
                                {{ 'MENU.BUTTON_HOT_DRINKS' | translate }}
                                <svg class="toggle-icon" width="16" height="16" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>

                            <div class="collapse mt-3" id="hotDrinks">
                                <div class="card-grid">
                                    <div class="card-item" *ngFor="let product of hotDrinks">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ product.name }}</h5>
                                                <p class="card-text"><strong>{{ 'MENU.PRICE_LABEL' | translate }}</strong> {{ product.price }}€</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Bebidas Frías -->
                        <div class="dropdown-container">
                            <button class="btn btn-primary custom-toggle" type="button" data-bs-toggle="collapse"
                                data-bs-target="#coldDrinks" aria-expanded="false" aria-controls="coldDrinks">
                                {{ 'MENU.BUTTON_COLD_DRINKS' | translate }}
                                <svg class="toggle-icon" width="16" height="16" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>

                            <div class="collapse mt-3" id="coldDrinks">
                                <div class="card-grid">
                                    <div class="card-item" *ngFor="let product of coldDrinks">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ product.name }}</h5>
                                                <p class="card-text"><strong>{{ 'MENU.PRICE_LABEL' | translate }}</strong> {{ product.price }}€</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Postres -->
                        <div class="dropdown-container">
                            <button class="btn btn-primary custom-toggle" type="button" data-bs-toggle="collapse"
                                data-bs-target="#desserts" aria-expanded="false" aria-controls="desserts">
                                {{ 'MENU.BUTTON_DESSERTS' | translate }}
                                <svg class="toggle-icon" width="16" height="16" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>

                            <div class="collapse mt-3" id="desserts">
                                <div class="card-grid">
                                    <div class="card-item" *ngFor="let product of desserts">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ product.name }}</h5>
                                                <p class="card-text"><strong>{{ 'MENU.PRICE_LABEL' | translate }}</strong> {{ product.price }}€</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Aperitivos Caseros -->
                        <div class="dropdown-container">
                            <button class="btn btn-primary custom-toggle" type="button" data-bs-toggle="collapse"
                                data-bs-target="#homemade" aria-expanded="false" aria-controls="homemade">
                                {{ 'MENU.BUTTON_HOMEMADE' | translate }}
                                <svg class="toggle-icon" width="16" height="16" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>

                            <div class="collapse mt-3" id="homemade">
                                <div class="card-grid">
                                    <div class="card-item" *ngFor="let product of homemade">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ product.name }}</h5>
                                                <p class="card-text"><strong>{{ 'MENU.PRICE_LABEL' | translate }}</strong> {{ product.price }}€</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Aperitivos Felinos -->
                        <div class="dropdown-container">
                            <button class="btn btn-primary custom-toggle" type="button" data-bs-toggle="collapse"
                                data-bs-target="#felineTreats" aria-expanded="false" aria-controls="felineTreats">
                                {{ 'MENU.BUTTON_FELINE' | translate }}
                                <svg class="toggle-icon" width="16" height="16" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>

                            <div class="collapse mt-3" id="felineTreats">
                                <div class="card-grid">
                                    <div class="card-item" *ngFor="let product of felineTreats">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ product.name }}</h5>
                                                <p class="card-text"><strong>{{ 'MENU.PRICE_LABEL' | translate }}</strong> {{ product.price }}€</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="flipped-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
                    <path fill="#E7DABB" fill-opacity="1"
                        d="M0,32L48,53.3C96,75,192,117,288,165.3C384,213,480,267,576,272C672,277,768,235,864,186.7C960,139,1056,85,1152,74.7C1248,64,1344,96,1392,112L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>

    </main>
</body>
