<header>
    <div>
        <img src="/logo-ftm.png" alt="Logo FTM" class="logo" />
    </div>

    <div>
        <div>
            <p>Menús</p>
        </div>
        <div>
            <p>Galería</p>
        </div>
        <div>
            <p>Adopción</p>
        </div>
        <div>
            <p>Contacto</p>
        </div>
        <div>
            <p>Reservas</p>
        </div>
        <div>
            <p>Idioma</p>
        </div>
        <div>
            <img src="/user_icon.jpg" alt="Usuario" class="user-icon" />
        </div>
    </div>
</header>