<body>
    <main class="home-container" id="top">
        <div class="title-container">
            <h1 class="menu-title">{{ 'MANAGEMENT.TITLE' | translate }}</h1>
        </div>

        <div class="description-container">
            <div class="wave-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
                    <path fill="#e7dabb" fill-opacity="1"
                        d="M0,32L48,53.3C96,75,192,117,288,165.3C384,213,480,267,576,272C672,277,768,235,864,186.7C960,139,1056,85,1152,74.7C1248,64,1344,96,1392,112L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                    </path>
                </svg>
            </div>

            <div class="bottom-container">

                <div class="description-container">
                    <!-- Botones para cambiar entre pestañas -->
                    <div class="tab-buttons">
                        <button class="btn" [class.active]="activeTab === 'reservas'"
                            (click)="setActiveTab('reservas')">
                            {{ 'MANAGEMENT.TABS.RESERVATIONS' | translate }}
                        </button>
                        <button *ngIf="isAdmin" class="btn" [class.active]="activeTab === 'usuarios'"
                            (click)="setActiveTab('usuarios')">
                            {{ 'MANAGEMENT.TABS.USERS' | translate }}
                        </button>
                        <button class="btn" [class.active]="activeTab === 'michis'" (click)="setActiveTab('michis')">
                            {{ 'MANAGEMENT.TABS.KITTIES' | translate }}
                        </button>
                        <button *ngIf="isAdmin" class="btn" [class.active]="activeTab === 'productos'"
                            (click)="setActiveTab('productos')">
                            {{ 'MANAGEMENT.TABS.PRODUCTS' | translate }}
                        </button>
                    </div>

                    <!-- Panel de Administrador para Productos -->
                    <div class="admin-control" *ngIf="activeTab === 'productos' && isAdmin">
                        <div class="admin-header">
                            <h2>{{ 'MANAGEMENT.PRODUCTS.ADMIN_PANEL_TITLE' | translate }}</h2>
                            <span class="badge">{{ 'MANAGEMENT.PRODUCTS.TOTAL_LABEL' | translate }} : {{ products.length
                                }}</span>
                        </div>
                        <div class="admin-actions">
                            <button class="btn btn-primary" (click)="addProduct()">
                                <i class="bi bi-plus-circle"></i> {{ 'MANAGEMENT.PRODUCTS.BUTTON_ADD' | translate }}
                            </button>
                        </div>
                    </div>

                    <!-- Panel de Administrador para Usuarios -->
                    <div class="admin-control" *ngIf="activeTab === 'usuarios' && isAdmin">
                        <div class="admin-header">
                            <h2>{{ 'MANAGEMENT.USERS.ADMIN_PANEL_TITLE' | translate }}</h2>
                            <span class="badge">{{ 'MANAGEMENT.USERS.TOTAL_LABEL' | translate }} : {{ users.length
                                }}</span>
                        </div>
                        <div class="admin-actions">
                            <button class="btn btn-primary" (click)="addUser()">
                                <i class="bi bi-plus-circle"></i> {{ 'MANAGEMENT.USERS.BUTTON_ADD' | translate }}
                            </button>
                        </div>
                    </div>

                    <!-- Panel de Administrador para Michis -->
                    <div class="admin-control" *ngIf="activeTab === 'michis' && isAdmin">
                        <div class="admin-header">
                            <h2>{{ 'MANAGEMENT.KITTIES.ADMIN_PANEL_TITLE' | translate }}</h2>
                            <span class="badge">{{ 'MANAGEMENT.KITTIES.TOTAL_LABEL' | translate }} : {{ michis.length
                                }}</span>
                        </div>
                        <div class="admin-actions">
                            <button class="btn btn-primary" (click)="addMichi()">
                                <i class="bi bi-plus-circle"></i> {{ 'MANAGEMENT.KITTIES.BUTTON_ADD' | translate }}
                            </button>
                        </div>
                    </div>

                    <!-- Tabla dinámica -->
                    <div class="table-container" style="border-radius: 26px;">
                        <!-- Tabla de Reservas -->
                        <table *ngIf="activeTab === 'reservas'" class="table">
                            <thead>
                                <tr>
                                    <th *ngIf="isAdmin">{{ 'MANAGEMENT.RESERVATIONS.HEADER.ID' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.RESERVATIONS.HEADER.DATE' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.RESERVATIONS.HEADER.PEOPLE' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.RESERVATIONS.HEADER.COMMENTS' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.RESERVATIONS.HEADER.USER' | translate }}</th>
                                    <th *ngIf="!isAdmin">{{ 'MANAGEMENT.RESERVATIONS.HEADER.CONTROL' | translate }}</th>
                                    <th *ngIf="isAdmin">{{ 'MANAGEMENT.RESERVATIONS.HEADER.CONTROL' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="reservations.length === 0">
                                    <td colspan="6" style="text-align: center;">{{ 'MANAGEMENT.RESERVATIONS.NO_ENTRIES'
                                        | translate }}</td>
                                </tr>
                                <tr *ngFor="let reservation of reservations">
                                    <td *ngIf="isAdmin">{{ reservation.id }}</td>
                                    <td>{{ reservation.date }}</td>
                                    <td>{{ reservation.peopleNumber }}</td>
                                    <td>{{ reservation.comments || ( 'MANAGEMENT.RESERVATIONS.NO_COMMENTS' | translate )
                                        }}</td>
                                    <td>{{ reservation.user?.name || ( 'MANAGEMENT.RESERVATIONS.UNKNOWN_USER' |
                                        translate ) }}</td>

                                    <!-- User Control -->
                                    <td *ngIf="!isAdmin" style="display: flex; justify-content: space-around;">
                                        <button class="btn btn-danger" (click)="deleteBooking(reservation.id)">
                                            <i class="bi bi-trash3"></i>
                                        </button>
                                    </td>

                                    <!-- Admin Control -->
                                    <td *ngIf="isAdmin" style="display: flex; justify-content: space-around;">
                                        <button class="btn btn-danger" (click)="deleteBooking(reservation.id)">
                                            <i class="bi bi-trash3"></i>
                                        </button>
                                        <button class="btn btn-warning" (click)="editBooking(reservation.id)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Tabla de Productos -->
                        <div class="table-container" style="border-radius: 16px;"
                            *ngIf="activeTab === 'productos' && isAdmin">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ 'MANAGEMENT.PRODUCTS.HEADER.ID' | translate }}</th>
                                        <th>{{ 'MANAGEMENT.PRODUCTS.HEADER.NAME' | translate }}</th>
                                        <th>{{ 'MANAGEMENT.PRODUCTS.HEADER.PRICE' | translate }}</th>
                                        <th>{{ 'MANAGEMENT.PRODUCTS.HEADER.CATEGORY' | translate }}</th>
                                        <th>{{ 'MANAGEMENT.KITTIES.HEADER.CONTROL' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products">
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>{{ product.category.name }}</td>
                                        <td style="display: flex; justify-content: space-around;">
                                            <button class="btn btn-danger" (click)="deleteProduct(product.id)">
                                                <i class="bi bi-trash3"></i>
                                            </button>
                                            <button class="btn btn-warning" (click)="editProduct(product.id)">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Tabla de Usuarios -->
                        <table *ngIf="activeTab === 'usuarios' && isAdmin" class="table">
                            <thead>
                                <tr>
                                    <th *ngIf="isAdmin">{{ 'MANAGEMENT.USERS.HEADER.ID' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.USERS.HEADER.NAME' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.USERS.HEADER.EMAIL' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.USERS.HEADER.PHONE' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.USERS.HEADER.ROLE' | translate }}</th>
                                    <th *ngIf="isAdmin">{{ 'MANAGEMENT.USERS.HEADER.CONTROL' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td *ngIf="isAdmin">{{ user.id }}</td>
                                    <td>{{ user.name }} {{ user.surname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phoneNumber }}</td>
                                    <td>{{ user.role }}</td>
                                    <td *ngIf="isAdmin" style="display: flex; justify-content: space-around;">
                                        <button class="btn btn-danger" (click)="deleteUser(user.id)">
                                            <i class="bi bi-trash3"></i>
                                        </button>
                                        <button class="btn btn-warning" (click)="editUser(user.id)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Tabla de Michis -->
                        <table *ngIf="activeTab === 'michis'" class="table">
                            <thead>
                                <tr>
                                    <th *ngIf="isAdmin">{{ 'MANAGEMENT.KITTIES.HEADER.ID' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.KITTIES.HEADER.NAME' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.KITTIES.HEADER.AGE' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.KITTIES.HEADER.DESCRIPTION' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.KITTIES.HEADER.BREED' | translate }}</th>
                                    <th *ngIf="isAdmin">{{ 'MANAGEMENT.KITTIES.HEADER.ADOPTABLE' | translate }}</th>
                                    <th>{{ 'MANAGEMENT.KITTIES.HEADER.CONTROL' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="(isAdmin ? michis : adoptionList).length === 0">
                                    <td colspan="7" style="text-align: center;">{{ 'MANAGEMENT.KITTIES.NO_ENTRIES' |
                                        translate }}</td>
                                </tr>
                                <tr *ngFor="let michi of (isAdmin ? michis : adoptionList)">
                                    <td *ngIf="isAdmin">{{ michi.id }}</td>
                                    <td>{{ michi.name }}</td>
                                    <td>{{ michi.age }}</td>
                                    <td>{{ michi.description }}</td>
                                    <td>{{ michi.breed }}</td>
                                    <td *ngIf="isAdmin">{{ michi.adoptable ? ( 'MANAGEMENT.KITTIES.YES' | translate ) :
                                        ( 'MANAGEMENT.KITTIES.NO' | translate ) }}</td>

                                    <!-- User Control -->
                                    <td *ngIf="!isAdmin" style="display: flex; justify-content: space-around;">
                                        <button class="btn btn-danger" (click)="removeMichiFromAdoptionList(michi.id)">
                                            <i class="bi bi-trash3"></i>
                                        </button>
                                        <button class="btn btn-info" (click)="adoptMichi()">
                                            <i class="bi bi-heart"></i>
                                        </button>

                                    </td>

                                    <!-- Admin Control -->
                                    <td *ngIf="isAdmin" style="display: flex; justify-content: space-around;">
                                        <button class="btn btn-danger" (click)="deleteMichi(michi.id)">
                                            <i class="bi bi-trash3"></i>
                                        </button>
                                        <button class="btn btn-warning" (click)="editMichi(michi.id)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="flipped-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
                        <path fill="#E7DABB" fill-opacity="1"
                            d="M0,32L48,53.3C96,75,192,117,288,165.3C384,213,480,267,576,272C672,277,768,235,864,186.7C960,139,1056,85,1152,74.7C1248,64,1344,96,1392,112L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </main>
</body>