<footer>

    <!-- <div class="footer-background">
        <svg id="visual" viewBox="0 0 1440 1400" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <path
                d="M0 185L34.3 179.8C68.7 174.7 137.3 164.3 205.8 161C274.3 157.7 342.7 161.3 411.2 181.5C479.7 201.7 548.3 238.3 617 258C685.7 277.7 754.3 280.3 823 264.8C891.7 249.3 960.3 215.7 1028.8 195.5C1097.3 175.3 1165.7 168.7 1234.2 189.8C1302.7 211 1371.3 260 1405.7 284.5L1440 309L1440 601L1405.7 601C1371.3 601 1302.7 601 1234.2 601C1165.7 601 1097.3 601 1028.8 601C960.3 601 891.7 601 823 601C754.3 601 685.7 601 617 601C548.3 601 479.7 601 411.2 601C342.7 601 274.3 601 205.8 601C137.3 601 68.7 601 34.3 601L0 601Z"
                fill="rgba(255, 255, 255, 0.25)" stroke-linecap="round" stroke-linejoin="miter"></path>
        </svg>
    </div> -->

    <div class="footer-container">
        <!-- Sección: Nuestras protectoras asociadas -->
        <div class="footer-section footer-left">
            <h2>Nuestras protectoras asociadas</h2>
            <p>
                En FosterTheMichis colaboramos con varias protectoras dedicadas al rescate y bienestar de los gatos.
                Gracias a su increíble labor, muchos michis encuentran un hogar lleno de amor. Si quieres adoptar o
                ayudar, ¡pásate a conocerlos en nuestro café! 💛🐱
            </p>
        </div>

        <!-- Sección: Explora nuestra web -->
        <div class="footer-section footer-center">
            <h2>Explora nuestra web</h2>
            <nav class="footer-nav">
                <a routerLink="/menu">Menú</a>
                <a routerLink="#">Galería</a>
                <a routerLink="#">Adopción</a>
                <a routerLink="#">Reservas</a>
                <a routerLink="#">Contacto</a>
            </nav>
        </div>

        <!-- Sección: Encuéntranos -->
        <div class="footer-section footer-right">
            <h2>¡Encuéntranos!</h2>
            <div class="footer-socials">
                <a routerLink="#"><img src="/svg-twitter.png" alt="Twitter" /></a>
                <a routerLink="#"><img src="/svg-instagram.png" alt="Instagram" /></a>
                <a routerLink="#"><img src="/svg-youtube.png" alt="YouTube" /></a>
                <a routerLink="#"><img src="/svg-facebook.png" alt="Facebook" /></a>
                <a routerLink="#"><img src="/svg-gmail.png" alt="Correo" /></a>
            </div>
        </div>
    </div>

    <hr>

    <div class="footer-bottom">
        <p>Copyright © <img src="/logo-ftm.png" alt="Logo FTM" class="footer-logo"> 2025. All rights reserved.</p>
    </div>
</footer>