<div class="register-page">
    <div class="register-card">
        <div class="register-header">
            <h2>{{ 'REGISTER.TITLE' | translate }}</h2>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <!-- Nombre y Apellidos -->
            <div class="form-group-row">
                <div class="form-group">
                    <label for="name">{{ 'REGISTER.LABEL_NAME' | translate }}</label>
                    <input id="name" type="text" formControlName="name"
                        placeholder="{{ 'REGISTER.PLACEHOLDER_NAME' | translate }}"
                        [class.invalid]="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" />
                    <div class="error" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
                        {{ 'REGISTER.ERROR_NAME_REQUIRED' | translate }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="surname">{{ 'REGISTER.LABEL_SURNAME' | translate }}</label>
                    <input id="surname" type="text" formControlName="surname"
                        placeholder="{{ 'REGISTER.PLACEHOLDER_SURNAME' | translate }}"
                        [class.invalid]="registerForm.get('surname')?.invalid && registerForm.get('surname')?.touched" />
                    <div class="error"
                        *ngIf="registerForm.get('surname')?.invalid && registerForm.get('surname')?.touched">
                        {{ 'REGISTER.ERROR_SURNAME_REQUIRED' | translate }}
                    </div>
                </div>
            </div>

            <!-- Correo Electrónico y Contraseña -->
            <div class="form-group-row">
                <div class="form-group">
                    <label for="email">{{ 'REGISTER.LABEL_EMAIL' | translate }}</label>
                    <input id="email" type="email" formControlName="email"
                        placeholder="{{ 'REGISTER.PLACEHOLDER_EMAIL' | translate }}"
                        [class.invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" />
                    <div class="error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                        {{ 'REGISTER.ERROR_EMAIL_INVALID' | translate }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">{{ 'REGISTER.LABEL_PASSWORD' | translate }}</label>
                    <input id="password" type="password" formControlName="password"
                        placeholder="{{ 'REGISTER.PLACEHOLDER_PASSWORD' | translate }}"
                        [class.invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" />
                    <div class="error"
                        *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                        {{ 'REGISTER.ERROR_PASSWORD_REQUIRED' | translate }}
                    </div>
                </div>
            </div>

            <!-- Número de Teléfono -->
            <div class="form-group">
                <label for="phoneNumber">{{ 'REGISTER.LABEL_PHONE' | translate }}</label>
                <input id="phoneNumber" type="tel" formControlName="phoneNumber"
                    placeholder="{{ 'REGISTER.PLACEHOLDER_PHONE' | translate }}"
                    [class.invalid]="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched" />
                <div class="error"
                    *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched">
                    {{ 'REGISTER.ERROR_PHONE_REQUIRED' | translate }}
                </div>
            </div>

            <button type="submit" class="btn-submit">{{ 'REGISTER.BUTTON_SUBMIT' | translate }}</button>
        </form>
    </div>
</div>