footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.25);
    color: #333;
    padding: 40px 60px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left p {
    font-family: 'Jockey One';
    margin-bottom: 20px;
}

.footer-left,
.footer-right {
    flex: 1;
    min-width: 300px;
    margin: 20px;
}

.footer-left h2,
.footer-right h2 {
    font-family: 'Kitten';
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-align: center;
}

.footer-left ul {
    font-family: 'Jockey One';
    list-style: none;
    padding-left: 0;
    margin: 10px 0;
}

.footer-left ul li {
    margin-bottom: 6px;
}

.footer-nav {
    font-family: 'Jockey One';
    font-size: large;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.footer-nav a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.footer-socials img {
    width: 28px;
    height: 28px;
    transition: filter 0.3s;
}

.footer-socials img:hover {
    filter: grayscale(0%);
}

.footer-section-centered {
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #2d2d2d;
    margin: 10px;
}

.footer-bottom {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

.footer-logo {
    height: 30px;
    vertical-align: middle;
    margin: 0 5px;
}