<body>
    <main class="home-container" id="top">
        <div class="title-container">
            <h1 class="menu-title">{{ 'ADOPTION.TITLE' | translate }}</h1>
        </div>

        <div class="description-container">
            <div class="wave-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
                    <path fill="#e7dabb" fill-opacity="1"
                        d="M0,32L48,53.3C96,75,192,117,288,165.3C384,213,480,267,576,272C672,277,768,235,864,186.7C960,139,1056,85,1152,74.7C1248,64,1344,96,1392,112L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                    </path>
                </svg>
            </div>

            <div class="bottom-container">
                <div class="bottom-content">
                    <div class="admin-control" *ngIf="isAdmin">
                        <div class="admin-header">
                            <h2>{{ 'ADOPTION.ADMIN_PANEL_TITLE' | translate }}</h2>
                            <span class="badge">{{ 'ADOPTION.TOTAL_MICHIS_LABEL' | translate }} {{ getTotalMichis()
                                }}</span>
                        </div>
                        <div class="admin-actions">

                            <button class="btn btn-primary" (click)="openAddMichiForm()">
                                <i class="bi bi-plus-circle"></i> {{ 'ADOPTION.BUTTON_ADD' | translate }}
                            </button>
                        </div>
                    </div>

                    <div class="wave-text-container original-text">
                        <h2 class="description-title">{{ 'ADOPTION.MEOWNAGERS_TITLE' | translate }}</h2>
                        <p class="description-text">
                            {{ 'ADOPTION.MEOWNAGERS_P1' | translate }}
                        </p>
                    </div>

                    <div class="wave-text-container mobile-text">
                        <h2 class="description-title">{{ 'ADOPTION.MEOWNAGERS_TITLE' | translate }}</h2>
                        <p class="description-text">
                            {{ 'ADOPTION.MEOWNAGERS_P1' | translate }}
                        </p>
                    </div>

                    <div class="meownagers">
                        <div class="non-adoptable-cards">
                            <div class="card" *ngFor="let michi of nonAdoptableMichis">
                                <img [src]="michi.photo" class="card-img-top" [alt]="michi.name" />
                                <div class="card-body">
                                    <h5 class="card-title">{{ michi.name }}</h5>
                                    <p class="card-text">{{ michi.description }}</p>
                                    <p class="card-text">{{ 'ADOPTION.AGE_LABEL' | translate }} {{ michi.age }}</p>
                                    <p class="card-text">{{ 'ADOPTION.BREED_LABEL' | translate }} {{ michi.breed }}</p>

                                    <!-- Botones visibles solo para usuarios con rol "admin" -->
                                    <div class="buttons-crud">
                                        <button *ngIf="isAdmin" class="btn btn-danger" (click)="deleteMichi(michi.id)">
                                            <i class="bi bi-trash3"></i>
                                        </button>
                                        <button *ngIf="isAdmin" class="btn btn-warning" (click)="editMichi(michi.id)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="wave-text-container original-text">
                        <h2 class="description-title">{{ 'ADOPTION.ADOPTABLE_TITLE' | translate }}</h2>
                        <p class="description-text">
                            {{ 'ADOPTION.ADOPTABLE_P1' | translate }}
                        </p>
                    </div>

                    <div class="wave-text-container mobile-text">
                        <h2 class="description-title">{{ 'ADOPTION.ADOPTABLE_TITLE' | translate }}</h2>
                        <p class="description-text">
                            {{ 'ADOPTION.ADOPTABLE_P1' | translate }}
                        </p>
                    </div>

                    <div class="meownagers">
                        <div class="non-adoptable-cards">
                            <div class="card" *ngFor="let michi of adoptableMichis">
                                <img [src]="michi.photo" class="card-img-top" [alt]="michi.name" />
                                <div class="card-body">
                                    <h5 class="card-title">{{ michi.name }}</h5>
                                    <p class="card-text">{{ michi.description }}</p>
                                    <p class="card-text">{{ 'ADOPTION.AGE_LABEL' | translate }} {{ michi.age }}</p>
                                    <p class="card-text">{{ 'ADOPTION.BREED_LABEL' | translate }} {{ michi.breed }}</p>

                                    <!-- Botón Adoptar visible para usuarios no autenticados o con rol "user" -->
                                    <button *ngIf="isLoggedIn && !isAdmin" class="adopt-btn"
                                        (click)="addToAdoptionList(michi)">
                                        {{ 'ADOPTION.BUTTON_ADOPT' | translate }}
                                    </button>

                                    <!-- Botones visibles solo para usuarios con rol "admin" -->
                                    <div class="buttons-crud">
                                        <button *ngIf="isAdmin" class="btn btn-danger" (click)="deleteMichi(michi.id)">
                                            <i class="bi bi-trash3"></i>
                                        </button>
                                        <button *ngIf="isAdmin" class="btn btn-warning" (click)="editMichi(michi.id)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="pre-adoption-care">
                        <div class="care-header">
                            <h2>{{ 'ADOPTION.CARE_HEADER_TITLE' | translate }}</h2>
                            <p>
                                {{ 'ADOPTION.CARE_HEADER_P1' | translate }}
                            </p>
                        </div>
                        <div class="care-cards">
                            <div class="care-card">
                                <span class="icon">🩺</span>
                                <h3>{{ 'ADOPTION.CARE_ITEM1_TITLE' | translate }}</h3>
                                <p>{{ 'ADOPTION.CARE_ITEM1_TEXT' | translate }}</p>
                            </div>
                            <div class="care-card">
                                <span class="icon">✂️</span>
                                <h3>{{ 'ADOPTION.CARE_ITEM2_TITLE' | translate }}</h3>
                                <p>{{ 'ADOPTION.CARE_ITEM2_TEXT' | translate }}</p>
                            </div>
                            <div class="care-card">
                                <span class="icon">💉</span>
                                <h3>{{ 'ADOPTION.CARE_ITEM3_TITLE' | translate }}</h3>
                                <p>{{ 'ADOPTION.CARE_ITEM3_TEXT' | translate }}</p>
                            </div>
                            <div class="care-card">
                                <span class="icon">🔖</span>
                                <h3>{{ 'ADOPTION.CARE_ITEM4_TITLE' | translate }}</h3>
                                <p>{{ 'ADOPTION.CARE_ITEM4_TEXT' | translate }}</p>
                            </div>
                            <div class="care-card">
                                <span class="icon">🧪</span>
                                <h3>{{ 'ADOPTION.CARE_ITEM5_TITLE' | translate }}</h3>
                                <p>{{ 'ADOPTION.CARE_ITEM5_TEXT' | translate }}</p>
                            </div>
                            <div class="care-card">
                                <span class="icon">🐛</span>
                                <h3>{{ 'ADOPTION.CARE_ITEM6_TITLE' | translate }}</h3>
                                <p>{{ 'ADOPTION.CARE_ITEM6_TEXT' | translate }}</p>
                            </div>
                        </div>
                        <div class="care-footer">
                            <p>
                                {{ 'ADOPTION.CARE_FOOTER_TEXT' | translate }}
                            </p>
                        </div>
                    </section>

                </div>
            </div>

            <div class="flipped-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
                    <path fill="#E7DABB" fill-opacity="1"
                        d="M0,32L48,53.3C96,75,192,117,288,165.3C384,213,480,267,576,272C672,277,768,235,864,186.7C960,139,1056,85,1152,74.7C1248,64,1344,96,1392,112L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>

    </main>
</body>